@font-face {
    font-family: "douyuFont-2";
    src: url("douyuFont-2.eot"); /* IE9 */
    src: url("douyuFont-2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("douyuFont-2.woff") format("woff"), /* chrome、firefox */
    url("douyuFont-2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("douyuFont-2.svg#douyuFont-2") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


